@import '../../assets/styles/base/box';

.product-card {
    @include box(gray-light, primary-dark); 
    
    
    &.is-encapsulated {
        position: relative;
        display: grid; 
        grid-template-columns: 1.4fr 0.6fr; 
        grid-template-rows: 1.4fr 0.6fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          ". ."
          ". ."; 
        aspect-ratio: 1/1;
        width: max-content;
        box-sizing: border-box;
        max-width: 100%;

        .is-nude {
            align-self: self-start;
        }
    }
}